### Data Collection
In this phase, the data is collected from the airline qualite website <a href="https://www.airlinequality.com/airline-reviews/british-airways/">SkyTrax</a>.  
The customer rating, seat rating, and longue rating are collected.  
The libraries BeautifulSoup and requests are used for web scraping

In [1]:
#import required libraries
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
# create an empty list to store all reviews
reviews = []
# create an empty list to store all rating star
stars = []
# create an empty list to store date
date = []
#create an empty list to the country names where the reviewer from
country = []

In [3]:
import re
# for i in range(1, 26):
for i in range(1,26):
    # Create URL to collect links from paginated data
    page_link = f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100"
    # Collect HTML data from this page
    page = requests.get(page_link)
    # Parse content
    soup = BeautifulSoup(page.content,"html5")
    # reviews
    for item in soup.find_all("div",class_="text_content"):
        reviews.append(item.text)
    
    # stars
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")  
    
    # date
    for item in soup("time"):
        date.append(item.text)
    

    # country
    for item in soup("h3"):
        name = item.span.next_sibling.text
        country.append(re.sub(r'[()]', '', name))

In [4]:
len(reviews)

2500

In [5]:
stars = stars[:2500]

In [6]:
# create a dataframe from these arrays of data
df = pd.DataFrame({"Reviews":reviews, "Stars":stars, "Date":date, "Country":country})
df.head()

,Reviews,Stars,Date,Country
0,Not Verified | Only the second time flying BA ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,14th May 2023,United States
1,✅ Trip Verified | I wasn't going to bother rev...,3,14th May 2023,United Kingdom
2,✅ Trip Verified | I booked business class tic...,3,13th May 2023,United States
3,✅ Trip Verified | I will never travel with Br...,1,8th May 2023,Australia
4,✅ Trip Verified | I am already in Portugal so...,1,6th May 2023,United Kingdom

In [7]:
df.shape

(2500, 4)

In [8]:
import os
cwd = os.getcwd()
df.to_csv(cwd+"/reviews.csv",index=False)